/* Base styles */

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    width: 1280px;
    margin: auto;
}

  h1, h2, h3 {
    font-family: Georgia, serif;
    font-weight: 400;
}

h3 {
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 2.1px;
    color: #545454;
}

h4 {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.2px;
    color: #545454;
}

p {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

/* Header and first screen styles */

.first-screen {
    background-image: url(../assets/img/first-screen-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 0;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-size: 32px;
    color: #F1CDB3;
    letter-spacing: 2px;
    text-align: start;
    line-height: 35px;
}

.subtitle {
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 1.3px;
    text-align: center;
}

.logo-link {
    text-decoration: none;
}

.logo-link:hover h1 {
    color: #FDDCC4;
    transition: 0.3s ease;
}

.logo-link:hover p {
    color: #CDCDCD;
    transition: 0.3s ease;
}



.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

li {
    margin-right: 35px;
}

nav li:last-child {
    margin-right: 0;
}

nav li a {
    text-decoration: none;
    color: #CDCDCD;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
}

nav li a:hover {
    color: #FAFAFA;
    transition: 0.3px ease;
}

nav a.active {
    border-bottom: 3px solid #F1CDB3;
    color: #FAFAFA;
    cursor: default;
    pointer-events: none;
}

.not-only {
    display: flex;
    flex-direction: row;
    padding: 90px 40px 0;
}

.not-only-text {
    display: flex;
    flex-direction: column;
    width: 460px;
    gap: 42px;
    margin-top: 163px;
    margin-bottom: 243px;
}

.not-only-text h2 {
    font-size: 44px;
    color: #FFFFFF;
    line-height: 57px;
    width: 310px;
}

.not-only-text p {
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
}

.button-one {
    width: 207px;
    height: 52px;
    background-color: #F1CDB3;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 15px, 45px, 15px, 45px;
    /* transition: background-color 0.5s ease; */
}

.button-one:hover, .our-pets-button:hover {
    background-color: #FDDCC4;
    transition: background-color 0.5s ease;
}

a.button-one-link {
    text-decoration: none;
    width: 207px;
    height: 52px;
}

.not-only-image {
    background-image: url(../assets/img/start-screen-puppy.png);
    width: 698px;
    height: 728px;
    margin-left: 42px;
}

/* About section styles */

.about {
    display: flex;
    padding: 80px 40px 100px;
    justify-content: center;
    align-items: center;
}

.about-text {
    width: 430px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
}

.about-text h3 {
    width: 370px;
}

.about-text p {
    margin-top: 25px;
    color: #4C4C4C;
    line-height: 24px;
}

/* Our pets section styles */

.our-pets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 40px 100px;
    background-color: #F6F6F6;
    gap: 60px;
}

.our-pets-heading {
    display: flex;
    justify-content: center;
    width: 400px;
    text-align: center;
}

.our-pets-slider-container {
    display: flex;
    gap: 53px;
    justify-content: space-between;
    align-items: center;
}

.slider-button {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #F6F6F6;
}

.our-pets-slider {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.our-pets-slider a {
    text-decoration: none;
}

.our-pets-slider button {
    background-color: #FAFAFA;
    cursor: pointer;
}

.our-pets-slider-card {
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    border-radius: 9px;
    cursor: pointer;
}

.our-pets-card-button {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    color: #292929;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-pets-slider-card:hover .our-pets-card-button {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
    transition: 0.3s ease;
}

.our-pets-slider-card:hover {
    background-color: #FFFFFF;
    transition: 0.3s ease;
}

.slider-button:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
    transition: 0.3s ease;
}

.slider-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.our-pets-button {
    width: 261px;
    height: 52px;
    background-color: #F1CDB3;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    color: #292929;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Help section styles */

.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 40px 100px;
    gap: 60px;
}

.help-heading {
    width: 310px;
    text-align: center;
}

.help-heading h3 {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2.1px;
    color: #545454;
}

.help-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 55px 120px;
}

.help-item {
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.help-item img {
    width: 60px;
    height: 60px;
}

.help-item p {
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1.2px;
    text-align: center;
}

/* In addition section styles */

.in-addition {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 82px 182px 100px;
    background-color: #F6F6F6;
}

.in-addition-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.in-addition-text h3 {
    width: 300px;
    line-height: 46px;
}

.bank-details {
    font-family: Georgia, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    margin: 0;
}

.card-details {
    width: 349px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1CDB3;
    border-radius: 9px;
    gap: 15px;
}

.card-number p {
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: #545454;
}

.legal-text {
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    color: #B2B2B2;
}

.footer {
    display: flex;
    gap: 160px;
    padding: 40px 40px 0;
    background-image: url(../assets/img/footer-gradient-background.png);
}

.footer h3 {
        font-size: 35px;
        line-height: 46px;
        letter-spacing: 2.1px;
        color: #FFFFFF;
    }

.footer a {
    text-decoration: none;
}

.footer p {
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: #F1CDB3;
}

.footer a:hover p {
    color: #FDDCC4;
    transition: 0.3s ease;
}

.footer-contacts, .footer-address {
    margin-top: 16px;
    margin-bottom: 60px;
    width: 279px;
    height: 234px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-address {
    width: 302px;
    height: 234px;
    gap: 32px;
}

.footer-contacts-item, .footer-address-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-image {
    display: flex;
    flex-direction: column;
}